{{#each blogs}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="api/newpost/{{this.id}}">
                <h2>{{this.name}} {{this.date}}</h2>
                </a>
                <h3>{{this.text}}</h3>
            </div>
        </div>
    </div>
{{/each}}
<div class="container">
<a href="/newpost"><button class="btn btn-primary" id="btn">Add a New Post</button> </a>
</div>


<script src="/js/dashboard.js"></script>
