<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Blog</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <!-- bootstrap -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

<ul class="nav justify-content-end">
  <li class="nav-home">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-login">
    <a class="nav-link" href="#">Login</a>
  </li>
</ul>

<div class="container-fluid">
  <h1> Blog</h1>
  <h4>Post</h4>
  <div class="posts">adldafljfalfla</div>
</div>
<form>
  <div class="form-group">
    <label for="Name">Name:</label>
    <input type="email" class="form-control" id="name" aria-describedby="nameInput">
  </div>
  <div class="form-group">
    <label for="feedback">Comment:</label>
    <input type="comment" class="form-control" id="commentInput">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src='main.js'></script>
</head>

<body>

</body>

</html>